<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>monu-mel-data-project-02</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link href="static/css/style.css" type="text/css" rel="stylesheet">
  <link href="static/css/inspector.css" type="text/css" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" type="text/css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-nav2 static-top">
    <div class="container">
      <a class="navbar-brand" href="#">monu-mel-data-project-02 - Analysis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index') }}">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section" id="view1">

    <!-- Page Content -->
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 text-center">
          <h1>Map</h1>
        </div>
      </div>
      <div class="row">
        <!-- The div that holds our map -->
        <div id="map-id"></div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light" id="view3">
    <div class="container col-lg-8" id="sunburst">
      <div class="col-lg-12 mb-5 text-center">
        <h1>Sunburst</h1>
      </div>
    </div>
  </section>

  <section class="page-section" id="view2">

    <!-- Page Content -->
    <div class="container">
      <div class="col-lg-12 mb-5 text-center">
        <h1>Explore the Data Yourself</h1>
      </div>
      <div class="row text-center">
        <p>Go to /api/ibra for our data</p>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.slim.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- D3 JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- Leaflet JS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/map.js"></script>

  <script type="module">
    import define from "/static/js/sunburst/index.js";
    import {Runtime, Library, Inspector} from "/static/js/sunburst/runtime.js";

    const runtime = new Runtime();
    const main = runtime.module(define, Inspector.into(document.querySelector(`#sunburst`)));

  </script>

</body>

</html>
